body {
  background-color: #f6f6f6;
  font-family: Arial, sans-serif;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
#create,
#editform {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

input[type="text"],
textarea,
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
  background-color: #f6f6f6;
}

input[type="submit"],
button {
  background-color: #4c8baf;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}
.todo-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 10px;
  position: relative;
  background-color: white;
}

h3 {
  margin-top: 0px;
}

#edit {
  position: absolute;
  bottom: 5px;
  left: 5px;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px;
  cursor: pointer;
  border-radius: 4px;
}

#delete {
  position: absolute; /* Set the edit button to absolute position */
  top: 5px; /* Set the distance from the top */
  right: 5px; /* Set the distance from the right */
  background-color: #ff0000;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px;
  cursor: pointer;
  border-radius: 4px;
}
